
body{
  background: #efefef;
  color: teal;

}
.Main-Contariner{
  width: 80%;
  margin: -10px auto; 
  text-align: center;

  

  
}
@media only screen and (max-width: 1000px){
  .Main-Contariner{
    width: 100%;
    background: #efefef;
    margin: 0 auto; 
    text-align: center;
  }
  
}
.Header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 10px; */
}

@media only screen and (max-width: 800px){
  .Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-direction: column;
  }
  .Header-Container{
    background: white;
    /* height: 150px; */
    width: 300px;

  
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px gray;
  }
  
}
.Header-Container{
  background: white;
  height: 150px;
  width: 300px;
flex:1;

  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px gray;
}
.Header-Container h2{
  margin: 10px;
}


.content{
display: flex;
width: 100%;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}



.content-container{
flex:1;
  background: white;
  margin: 10px;
  box-shadow: 0 0 10px gray;
  padding: 50px 5px; 
  padding-top: 40px;
  padding-bottom: 50px;
height: 330px;
}

.content-container .form{
  padding: 10px;
 
}
.content-container input{
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px gray;

}
.content-container button{
  width:88%;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  /* border-radius: 2px; */
  box-shadow: 0 0 5px gray;
  border: none;

  background: teal;
  color: white;

  margin-top:20px ;
}
.content-container button:hover{
  background: teal;
  color:black;


}

@media only screen and (max-width: 800px){
  .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    flex-direction: column;
    margin: 0;
  
    }
  
    .content-container{
    width: 300px;
        background: white;
        margin: 10px;
        box-shadow: 0 0 10px gray;
        padding: 50px 5px; 

      
      }
  
}
.history-contaier{
  
  overflow-y: scroll;
  height: 250px;
}
.history-tab{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
.History-del{
  width: 20px !important;
  height: 20px !important;
display: flex;
align-items: center;
justify-content: center;
  background: teal;
}